.aboutus-container {
    width: 600px;
    height: 120px;
    margin: 3em 0 1em 0;
    max-width: 100%;
}

p {
    display: block;
    margin-top: 0;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
}