*{
	font-family: arial, sans-serif;
}

a, a:visited, a:hover, a:active {
	color: inherit;
}

.container{
	position:relative;
	padding:5px;
	width: 500px;
}

.product{
	width:90%;
}

input[type=text]{
	width: 150px;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	overflow-y:scroll;
	word-wrap: break-word;
	word-break: break-all;
}

select{
	width: 150px;
} 

input[type=number]{
	width: 150px;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	-webkit-appearance: textfield;
	   -moz-appearance: textfield;
			appearance: textfield;
}

input[type=text]:focus,input[type=number]:focus{
	border: 2px solid #555;
}

.small , .big {
	resize:none;
	width: 500px;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.big{
	height: 150px;
}

.small{
	height: 75px;
}


.button{
	background-color: yellow;
	border: none;
	color: rgb(0, 0, 0);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition: color 1s linear;
}

.button:hover{
	background-color: rgb(0, 0, 0);
	color:white;
	transition: all 1s;
}

.button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
  }

.container button{
	position:relative;
	width: 500px;
}

.container btn{
	align-content: center;
}

table {
	border-collapse: collapse;
	width: 1100px;
	padding:1000px;
	margin:20px;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0);
}


i{
	cursor:pointer;
	width:200px;
	font-size: 20px;
	float:right;
}
