:root {
    --smaller: 14px;
    --small: 16px;
    --medium: 18px;
    --large: 20px;
    /* color */
    --yellow: #FEF093;
    --black: #27231F;
    --grey: #E2E2E2;
    /* side spacing in px */
    --spacing: 0 38px 0 36px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

/* common settings*/

html {
    height: 100%;
}

body {
    min-width: 700px;
    min-height: 100%;
}

nav,
.topheader,
.header {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

div {
    display: block;
}

.topheader li,
.topheader a,
.headerWrapper li,
.headerWrapper a,
.navSide li,
.navSide a {
    text-decoration: none;
    color: var(--black);
    list-style: none;
}

/* topheader */
.topheader {
    /* try to use em, px, rem */
    height: 35px;
    width: 100%;
    background-color: var(--grey);
    font-size: var(--smaller);
    position: relative;
}

.topheader ul {
    position: absolute;
    padding-right: 20px;
    top: 50%;
    right: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.topheader li,
span {
    display: inline;
    padding-right: 4px;
}

/* wrapper for the header nav */
.header {
    padding: var(--spacing);
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 60px;
    width: 60px;
}

#cart {
    height: 40px;
    width: 40px;
}

.header li {
    display: inline;
    padding: 0 10px 0 10px;
}

/* btmheader nav = navigator */
#navLogo {
    height: 20px;
    width: 20px;
}

.btmheader {
    height: 35px;
    width: 100%;
    background-color: var(--yellow);
}

.navSide {
    padding: var(--spacing);
    padding-top: 8px;
    margin-left: 20px;
}

/* footer */
.footerWrapper {
    /* problem occur while scrolling */
    /* position: sticky; */
    /* bottom: 0;
    left: 0;
    right: 0; */
    margin-top: auto;
    height: 30px;
    width: 100%;
    background-color: var(--black);
    color: white;
}

.footer {
    padding: var(--spacing);
    font-size: var(--smaller);
    padding-top: 10px;
}

/* sideSide navContainer */
.navSide ul li.dropDown ul {
    background-color: var(--yellow);
    position: absolute;
    left: 0;
    padding-left: 0;
    min-width: 100px;
    display: none;
}

.navSide ul li.dropDown ul li a {
    color: yellow;
    width: 100px;
}

.navSide ul li.dropDown:hover ul {
    display: block;
}