* {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif
}

.contactus-content{
    width: 57.5rem;
    max-width: 100%;
    padding: 1rem 1rem;
    margin: auto;
}

.contactus-title{
position: absolute;
width: 181px;
left: calc(50% - 181px/2 - 764.5px);
top: 13.75%;
bottom: 84.25%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;

color: #000000;
}

.contactus-desp{
position: absolute;
width: 1712.06px;
height: 159px;
left: 103.97px;
top: 333px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #000000;

}

.shoeads{
left: 0%;
right: 3.22%;
top: 1.85%;
bottom: 0%;

}