@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

*{
    font-family: 'Noto Sans', sans-serif;
}
.container{
	position:relative;
	margin-bottom:25px;
}

.container label{
	position:relative;
	top:0px;
	left:0px;
	font-size:16px;
	color:rgb(0, 0, 0);	
    pointer-events:none;
	transition: all 0.05s ease-in-out;
}

.container input {
    border:0;
    border-bottom:1px solid rgb(0, 0, 0);  
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:rgb(0, 0, 0);
}

.container input:focus{ 	
    outline:none;
    border-style:solid;	
}
  
/* Set a style for all buttons */
button {
    color:rgb(255, 255, 255);
	background-color:yellow;
	outline: none;
    border: 0;
    color: rgb(0, 0, 0);
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

button[type = "submit"] {
	color:rgb(255, 255, 255);
	background-color:yellow;
	outline: none;
    border: 0;
    color: rgb(0, 0, 0);
	padding:5px 10px;
	text-transform:uppercase;
	margin-top:5px;
	border-radius:2px;
	cursor:pointer;
    position:relative;
    right:-85%;
}
  
button:hover {
    opacity: 0.8;
}

  
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: yellow;
}
  
  /* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
  
img.avatar {
    width: 40%;
    border-radius: 50%;
}
  
.container {
    padding: 16px;
}

/* The Login (background) */
.login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 5px;
  }
  
/* Login Content/Box */
.login-content {
    background-color: #ffffff;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

.fail{
    Font-size: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-60%, -40%);
}
  
/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
  
/* Close button on hover */
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}
  
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.container input:focus ~ label,
.container input:valid ~ label{
	top:-12px;
	font-size:12px;
}