@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

*{
    font-family: 'Noto Sans', sans-serif;
}
.container{
	position:relative;
	margin-bottom:5px;
}

.container label{
	position:relative;
	top:0px;
	left:0px;
	font-size:14px;
	color:rgb(0, 0, 0);	
    pointer-events:none;
	transition: all 0.05s ease-in-out;
}

.dropdown {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown select {
    background-color: yellow;
    color: black;
    padding: 8px;
    width: 100px;
    border: none;
    font-size: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }

.dropdown::before {
    position: relative;
    top: 0;
    right: 0;
    width: 20%;
    height: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
.dropdown:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}
  
.dropdown select option {
    padding: 15px;
}

.container input {
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:4px 0 2px 0;
    font-size:14px;
    color:rgb(0, 0, 0);
}

.container input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid yellow;	
}
  
  
  /* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
  
img.avatar {
    width: 40%;
    border-radius: 50%;
}
  
.container {
    padding: 12px;
}

/* The Login (background) */
.register {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 30%; /* Full width */
    height: 30%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 5px;
  }
  
/* Login Content/Box */
.register-content {
    background-color: #ffffff;
    margin: 1px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

#submit{
	color:rgb(255, 255, 255);
	background-color:yellow;
	outline: none;
    border: 0.5;
    color: rgb(0, 0, 0);
	padding:5px 20px;
	text-transform:uppercase;
	margin-top:1px;
	border-radius:1px;
	cursor:pointer;
	position:relative;
    right: -75%;
}

  
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.container input:focus ~ label,
.container input:valid ~ label{
	top:-12px;
	font-size:12px;
}